/* font family add  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.work-sans {
    font-family: "Work Sans", sans-serif;
}

/* some common class */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 21px 24px 20px 25px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
}

main>section {
    margin-top: 130px;
}

/* main title */
.section-title {
    font-size: 3rem;
    font-weight: bold;
}


/* dark-2 */
.text-gray {
    color: #424242;
}

/* dark-3 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1)
}

/* header section */

/* nav section */
.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar,
.banner-section {
    max-width: 1440px;
    margin: 0 auto;
}


/* banner section start here */
.banner-content {
    max-width: 885px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-description {
    font-size: 16px;
}

.banner-img {
    width: 100%;
}

/* main section start here */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.teams {
    align-items: center;
}

.our-features-container {
    max-width: 537px;
    margin-left: 73px;
}

#Quick-list {
    font-size: 2.8rem;
    font-weight: 500;
}

#of-Our {
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;

}

#Features {
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(255, 144, 14, 1);
}

.description {
    font-size: 16px;
    margin: 24px 0 32px 0;
}

/* fact section start here */

.Some-Facts-description {
    max-width: 542px;
    margin: 10px 0px 100px 0px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 2px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;

}

.fact-name {
    font-size: 1.25rem;
}

/* our sponsors section start here */
.Our-Sponsors-contant {
    max-width: 542px;
    text-align: center;
    margin: 80px auto;
}

.Our-Sponsors-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

/* responsive media query */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .our-features-container {
        margin-left: 0;
        padding: 20px;
        text-align: center;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding: 10px;
        justify-items: center;

    }

    .fact-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 24px;
    }

    .Our-Sponsors-img {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        justify-items: center;
    }
}

/* medium responsive media query */
@media screen and (min-width:577px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }

    .our-features-container {
        margin: 50px auto;
    }
}